<div style="padding: 20px">
    <h4>Estatus traslado</h4>
    <hr>
    <div class="d-flex flex-row">

        <div class="d-flex flex-column w-50">

            <div class="d-flex flex-row">
                <span>Estatus:</span>
                <span>en transito</span>
            </div>

            <div class="d-flex flex-row">
                <span>Enviado con:</span>
                <span>Transportes S.C</span>
            </div>

            <div class="d-flex flex-row">
                <span>Paradas programadas:</span>
                <span>Sin paradas</span>
            </div>

            <div class="d-flex flex-row">
                <span>Salida:</span>
                <span>CDMX 10/03/2019 18:30:00</span>
            </div>

            <div class="d-flex flex-row">
                <span>Llegada:</span>
                <span>CDMX 16/03/2019 18:30:00</span>
            </div>

        </div>

        <div class="d-flex flex-column w-50">

            <div class="d-flex flex-row">
                <span>Proveedor:</span>
                <span>PROVEEDOR TRASLADO 1</span>
            </div>

            <div class="d-flex flex-row">
                <span>Entrega:</span>
                <span>2019/02/04 19:10:10</span>
            </div>

        </div>

    </div>

    <div style="width: 600px;">
        <img src="http://maps.google.com/maps/api/staticmap?size=600x300&zoom=13&path=color:0xff0000ff|weight:5|40.737102,-73.990318|40.749825,-73.987963&markers=color%3ablue|label%3aS|40.737102,-73.990318|40.749825,-73.987963&sensor=false&key=AIzaSyBMcofn86TbzqqSQb6-bRJuUYgG_gQITnY" width="100%" height="auto">
    </div>

</div>

<div class="d-flex flex-row-reverse">
    <button (click)="save()" class="btn btn-primary" style="margin: 10px">Aceptar</button>
</div>