@import '../../styles/titles.scss';
.list-group {
    margin-top: 15px;
    max-height: 600px;
}

.general-titles {
    font-size: 25px;
    text-align: center;
    padding: 35px;
}

.cotizacion-none {
    padding: 0px;
    position: relative;
    padding-bottom: 79px;
    text-align: center;
}
