.title-area {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .general-titles {
    font-family: 'Segoe UI';
    font-style: italic;
    color: #ccc;
    font-size: 2em;
  }
  .card {
    h5 {
      margin-top: 10px;
    }
    // width: 100px !important;
  }
  