@import "../../../styles/titles.scss";

.container-b {
    button {
        margin-left: 10px;
    }
}
.fs-small {
    font-size: 12px;
}

.fs-md {
    font-size: 13px;
}

.fs-bg {
    font-size: 14px;
}