@import '../../styles/titles.scss';
@import "../../styles/mixin.scss";
@import "../../styles/color.scss";
.title-area {
  margin-top: 30px;
  margin-bottom: 30px;
}
.general-titles {
  font-family: 'Segoe UI';
  font-style: italic;
  color: #ccc;
  font-size: 2em;
}
title-span{
  position: absolute;
}

.cliente-span {
  top: 24px;
  left: -61px;
}
.licitacion-span{
  top: 24px;
  left: -150px;
}

.multimarca-combo{
  padding: 15px 15px 15px 15px;
  overflow-x: auto;
}

button {
  margin-top:30px;
  margin-bottom:30px;
}

.icon-search {
  width: 10%;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
}
.select-search {
  width: 90% !important;
  height: 40px !important;
}

.ng-invalid:not(form)  {
  border: 2px solid #a94442;
  border-radius: 7px;
}

.datatable-scroll { width: 100% !important; }


@media only screen and (max-width: 900px) {
  .cliente-span {
      top: 0px;
      left: 5px;
  }

  .licitacion-span{
      top: 0px;
      left: 5px;
  }

}

