<form>
    <div class="form-row mt-5">
        <div class="col-md-4 form-group input-group-sm">
            <label for="formGroupExampleInput mt-5">RFC</label>
            <input type="text" class="form-control input_underline" id="formGroupExampleInput"  value="{{clienteInfo.rfc}}" readonly>     
        </div>  
        <div class="col-md-4 form-group input-group-sm">
            <label for="formGroupExampleInput  mt-5">Calle</label>
            <input type="text" class="form-control input_underline" id="formGroupExampleInput"  value="{{clienteInfo.calle}}" readonly> 
        </div> 
        <div class="col-md-4 form-group input-group-sm">
            <label for="formGroupExampleInput  mt-5">Colonia</label>
            <input type="text" class="form-control input_underline" id="formGroupExampleInput"  value="{{clienteInfo.colonia}}" readonly> 
        </div> 
    </div>

    <div class="form-row">
        <div class="col-md-4 form-group input-group-sm">
            <label for="formGroupExampleInput">NO. EXT</label>
            <input type="text" class="form-control input_underline" id="formGroupExampleInput"  value="{{clienteInfo.numeroExterior}}" readonly>     
        </div>  
        <div class="col-md-4 form-group input-group-sm">
            <label for="formGroupExampleInput">NO. INT</label>
            <input type="text" class="form-control input_underline" id="formGroupExampleInput"  value="{{clienteInfo.numeroInterior}}" readonly> 
        </div> 
        <div class="col-md-4 form-group input-group-sm">
            <label for="formGroupExampleInput">Delegación</label>
            <input type="text" class="form-control input_underline" id="formGroupExampleInput"  value="{{clienteInfo.municipioAlcaldia}}" readonly> 
        </div> 
    </div>

    <div class="form-row">
        <div class="col-md-4 form-group input-group-sm">
            <label for="formGroupExampleInput">Correo</label>
            <input type="text" class="form-control input_underline" id="formGroupExampleInput"  value="{{clienteInfo.correo}}" readonly>     
        </div>  
        <div class="col-md-4 form-group input-group-sm">
            <label for="formGroupExampleInput">Ciudad</label>
            <input type="text" class="form-control input_underline" id="formGroupExampleInput"  value="{{clienteInfo.ciudad}}" readonly> 
        </div> 
        <div class="col-md-4 form-group input-group-sm">
            <label for="formGroupExampleInput">Estado</label>
            <input type="text" class="form-control input_underline" id="formGroupExampleInput"  value="{{clienteInfo.estado}}" readonly> 
        </div> 
    </div>

    <div class="form-row">
        <div class="col-md-4 form-group input-group-sm">
            <label for="formGroupExampleInput">C.P</label>
            <input type="text" class="form-control input_underline" id="formGroupExampleInput"  value="{{clienteInfo.codigoPostal}}" readonly>     
        </div>  
        <div class="col-md-4 form-group input-group-sm">
            <label for="formGroupExampleInput">Teléfono</label>
            <input type="text" class="form-control input_underline" id="formGroupExampleInput"  value="{{clienteInfo.telefono}}" readonly> 
        </div> 
        <div class="col-md-4 form-group input-group-sm">
            <label for="formGroupExampleInput">Extensión</label>
            <input type="text" class="form-control input_underline" id="formGroupExampleInput"  value="{{clienteInfo.extension}}" readonly> 
        </div> 
    </div>

    <div class="form-row">
    
        <div class="col-md-4 form-group input-group-sm">
            <label for="formGroupExampleInput">Teléfono Alternativo</label>
            <input type="text" class="form-control input_underline" id="formGroupExampleInput"  value="{{clienteInfo.telefonoAlternativo}}" readonly> 
        </div> 
        <div class="col-md-4 form-group input-group-sm">
            <label for="formGroupExampleInput">Celular</label>
            <input type="text" class="form-control input_underline" id="formGroupExampleInput"  value="{{clienteInfo.celular}}" readonly> 
        </div> 
    </div>

</form>        

