@import '../../styles/titles.scss';

.edit-buttom {
  margin-right: 5px;
  font-size: 1.5em;
  color:#333;
}
.delete-buttom {
  margin-right: 5px;
  font-size: 1.5em;
  color:#d11c1c;
}

button {
  margin-right: 10px;
}
